.featured--profile {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .featured--profile--container {
    /* 1200 * 0.66 = 792px */
    max-width: 792px;
    min-width: 300px;
    border-radius: 1em;
    box-shadow: 0 0 3px #ccc;
    display: flex;
    flex: 0 1 792px;
    flex-wrap: wrap;
  }
  
  .featured--profile-bio {
    text-align: center;
    flex: 0 1 492px;
    max-height: 300px;
    overflow: scroll;
  }
  
  
  @media(max-width: 792px) {
    .featured--profile--container {
      flex-basis: 300px;
    }
    .featured--profile-bio {
      max-height: none;
    }
  }
  
  .featured--profile-header {
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px 0px;
  }
  
  .featured--profile-content {
    display: flex;
    padding: 0px 15px;
    text-align: start;
  }
  